.NavbarItems {
    background: linear-gradient(90deg, rgb(110,94,254) 0%, rgba(73,63,252,1) 100%);
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.Navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.fa-ticket-alt {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links {
    color: white;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    color: white;
    background-color: #6d76f7;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: #fff;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 480px) {
    .NavbarItems {
        position: relative;
    }

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5 ease;
    }

.nav-menu.active {
    background: #6668f4;
    left: 0;
    opacity: 1;
    transition: all 0.5 ease;
    z-index: 1;
}

.nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
}

.nav-links:hover {
    color: white;
    background-color: #7577fa;
    text-decoration: none;
    border-radius: 0;
}

.Navbar-logo {
    position: absolute;
    top: 0;
    margin-top: 20px;
    left: 0;
    transform: translate(25% 50%);
}

.menu-icon {
    display: block;
    position: absolute;
    top: 0;
    margin-top: -5px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
}

.fa-times {
    color: #fff;
    font-size: 2rem;
}

.nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    color: #fff;
    font-size: 1.5rem;
}

.nav-links-mobile:hover {
    background: #fff;
    text-decoration: none;
    color: #6568F4;
    transition: 250ms;
}
Button {
    display: none !Important;
}

}

@media screen and (max-width: 768px) {
    .NavbarItems {
        position: relative;
    }

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5 ease;
    }

.nav-menu.active {
    background: #6668f4;
    left: 0;
    opacity: 1;
    transition: all 0.5 ease;
    z-index: 1;
}

.nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
}

.nav-links:hover {
    color: white;
    background-color: #7577fa;
    text-decoration: none;
    border-radius: 0;
}

.Navbar-logo {
    position: absolute;
    top: 0;
    margin-top: 20px;
    left: 0;
    transform: translate(25% 50%);
}

.menu-icon {
    display: block;
    position: absolute;
    top: 0;
    margin-top: -5px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
}

.fa-times {
    color: #fff;
    font-size: 2rem;
}

.nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    color: #fff;
    font-size: 1.5rem;
}

.nav-links-mobile:hover {
    background: #fff;
    text-decoration: none;
    color: #6568F4;
    transition: 250ms;
}
Button {
    display: none !Important;
}

}

@media screen and (max-width: 1024px) {
    .NavbarItems {
        position: relative;
    }

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5 ease;
    }

.nav-menu.active {
    background: #6668f4;
    left: 0;
    opacity: 1;
    transition: all 0.5 ease;
    z-index: 1;
}

.nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
}

.nav-links:hover {
    color: white;
    background-color: #7577fa;
    text-decoration: none;
    border-radius: 0;
}

.Navbar-logo {
    position: absolute;
    top: 0;
    margin-top: 20px;
    left: 0;
    transform: translate(25% 50%);
}

.menu-icon {
    display: block;
    position: absolute;
    top: 0;
    margin-top: -5px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
}

.fa-times {
    color: #fff;
    font-size: 2rem;
}

.nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #4ad9e4;
    color: #fff;
    font-size: 1.5rem;
}

.nav-links-mobile:hover {
    background: #fff;
    text-decoration: none;
    color: #6568F4;
    transition: 250ms;
}
Button {
    display: none !Important;
}

}